@font-face {
  font-family: "Massarella";
  src: url("../fonts/massallera.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Massarella", sans-serif !important;
}

.recuadro {
  background-color: rgba(0, 0, 0, 0.9);
  height: 80%;
  width: 80%;
  border: 4px solid #00ff93;
  border-radius: 25px;
}

.recuadro-titulo-valores {
  background-color: black;
  margin-top: 7rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 20%;
  border: 4px solid #00ff93;
  border-radius: 50px;
  margin: 0 3rem;
}

.titulo {
  color: #fc93ff;
  text-transform: uppercase;
  text-align: center;
  font-size: 7rem;
  padding-top: 1rem;
  text-shadow: 5px 5px 0px #00ff93;
}

.titulo-final {
  color: #1c4966;
  text-transform: uppercase;
  text-align: center;
  font-size: 42px !important; 
  text-shadow: 5px 5px 0px #e6c924;
}

.titulo-valores {
  color: #fc93ff;
  font-size: 4rem;
  text-shadow: 5px 5px 0px #00ff93;
}

.valores-tratados {
  color: white;
  font-size: 1.5rem;
}

.options-valores {
  background-color: black;
  margin-top: 7rem !important;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  height: 40%;
  border: 4px solid #00ff93;
  margin: 0 3rem;
}

.botones {
  padding-top: 10rem;
  border: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.links {
  text-decoration: none;
  color: #fffcff;
  border: none;
  font-size: 40px;
}

.mi-btn-start {
  background-color: #00c271;
  padding: 1rem;
}

.mi-btn-menu {
  background-color: rgb(81, 81, 235);
  padding: 1rem;
}

.mi-btn-menu-pre {
  background-color: black;
  padding: 1rem;
  margin-top: 8%;
}

.mi-btn-caso {
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 1rem;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-shadow: "2px 2px 4px rgba(0, 0, 0, 0.5)";

  /* margin-bottom: 20%; */
  display: flex !important;
  justify-content: center !important;
  /* margin-top: 8%; */
}

.mi_btn-sign_in {
  background-color: palevioletred;
}

.title-login {
  margin: 0 !important;
  color: white;
  padding-left: 2rem !important;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.video-react-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.video-react-button {
  display: none;
}

.botones-fila-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.botones-fila-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.botones-fila-1,
.botones-fila-2 {
  width: auto;
  position: relative;
  top: 100px;
}

.textoCaso1 {
  color: white;
  position: relative;
  top: 40px;
  left: 20px;
}

.textoCaso2 {
  color: white;
  position: relative;
  top: 80px;
  left: 20px;
}

.opciones {
  display: flex;
  position: relative;
  top: 40px;
}

.osito {
  width: 15%;
  height: auto;
  margin-left: 42.5%;
}

.mi-btn-caso-redencion {
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  height: 300px;
  margin-top: 15%;
  cursor: pointer;
}

.datos-primera-pagina {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mi-btn-infantil {
  background-color: #fff;
  border: none;
  color: #2d7f55; /* Cambiado a un tono de verde oscuro */
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.mi-btn-infantil:hover {
  background-color: #2d7f55; /* Cambiado a un tono de verde oscuro */
  color: #fff;
}

.mi-btn-infantil:focus {
  outline: none;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}



.redencion{
        display: grid;
        grid-template-columns: repeat(4,1fr);
}

form>div{
display: grid;
grid-template-columns: repeat(2,20%);
align-items: center;
justify-items: start;
}